<div class="row">
    <div class="col-12">

        <h3>Privacy & Cookie Policy</h3>

        <div class="card">
            <div class="card-body">
                <h4>Data Privacy</h4>
                <p class="card-text">
                    The Gloucester Tabletop Gaming Community (GTGC) will not share any personal information collected about you with third parties. All data is for internal use only and so 
                    admins of the GTGC can contact you regarding your account.
                </p>
            </div>
        </div>
        
        <div class="card mt-3">
            <div class="card-body">
                <h4>Cookie Policy</h4>
                <p class="card-text">
                    The Gloucester Tabletop Gaming Community (GTGC) uses cookie trackers for google analytics, no personal information is stored and any information gathered
                    is for GTGC use only. All data collected is anonymised by the analytics platform and individual users can not be identified.  
                </p>
            </div>
        </div>
        
        
        

    </div>
</div>
