<div class="row">

    <div class="col-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/gtgc-95335.appspot.com/o/Goblins%2Fgobbos.jfif?alt=media&token=eb467552-bbde-48e6-916b-418aef10d340" class="img-fluid">
    </div>

    <div class="col-6">
        <div class="card">
            <iframe src="https://open.spotify.com/embed-podcast/show/3m9ycjUwMbuDVIxpw4tojb" width="100%" height="232"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <div class="card-body">
                <p class="card-text">
                    We record our podcast every Sunday evening, discussing the latest blah blah blah ... someone give me
                    some blurb!
                </p>
            </div>
        </div>
    </div>
</div>


<app-profile name="Karl"></app-profile>
<app-profile name="John"></app-profile>
<app-profile name="Phil"></app-profile>
<app-profile name="Holly"></app-profile>
<app-profile name="Sam"></app-profile>
<app-profile name="Luke"></app-profile>