<div class="row">

    <div class="col-sm-12 col-md-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/gtgc-95335.appspot.com/o/Goblins%2Fgobbos.jfif?alt=media&token=eb467552-bbde-48e6-916b-418aef10d340" class="img-fluid">
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="card">
            
            <div class="card-body">
                <p class="card-text">
                    We record our podcast every Sunday evening, join us as we discuss our hobbies, the club and tackle important questions like which primarch would wear crocs.
                </p>
                <p>
                    You can listen to us on:
                </p>
                <p class="card-text"><a href="https://www.youtube.com/playlist?list=PLOlH2y12w6lQ0yFteccLT6yHMwNaT3fRH"><i class="fab fa-youtube"></i> Youtube</a></p>
                <p class="card-text"><a href=""><i class="fab fa-spotify"></i> Spotify</a></p>
                <p>Plus many other places you can find podcasts :)</p>
            </div>
        </div>
    </div>
</div>


<app-profile name="Karl"></app-profile>
<app-profile name="John"></app-profile>
<app-profile name="Phil"></app-profile>
<app-profile name="Holly"></app-profile>
<app-profile name="Sam"></app-profile>
<app-profile name="Luke"></app-profile>