<form class="form" [formGroup]="postForm" (ngSubmit)="onFormSubmit(postForm.value)">

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="Title" required />
    <p>{{post.Slug}}</p>
  </div>
  <div class="form-group">
    <editor
      [init] = "options"
      [(ngModel)]="content"
      [ngModelOptions]="{standalone: true}"
      apiKey="y9xzcdl06zj339ysvj2423h35esbt0zcurkbn01eupvh8bo1"
    ></editor>
  </div>

  <button type="submit" class="btn btn-success">
    Save
  </button>

  <a routerLink="/posts" class="btn btn-default">
    Discard
  </a>

</form>