
<div class="row" *ngIf="auth.isPostEditor(user)">
    <div class="col-12">
        <a routerLink="/posts/new" class="btn btn-success"><i class="icon plus"></i>New Post</a>
    </div>
</div>


<app-text-loading [SectionCount]="3"  *ngIf="posts == null"></app-text-loading>

<div class="row mt-3" *ngFor="let post of posts">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a [routerLink]="['/posts', post.Slug]"><h5>{{post.Title}}</h5></a>
                <p class="card-text">
                    By {{post.Author}} on {{post.DateCreated | date: "short"}}
                    <a [routerLink]="['/posts', post.Slug]" class="btn btn-primary btn-sm float-right">Read</a>
                </p>
                
            </div>
        </div>
    </div>
</div>

