<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1>Welcome to the Gloucester Tabletop Gaming Community</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id volutpat sapien. 
            Mauris interdum mi eros, sit amet sollicitudin libero iaculis vitae. Fusce a lacus turpis. 
            Ut sit amet metus in erat lobortis pulvinar. Nulla facilisi. Mauris mollis auctor ligula 
            vel malesuada. Fusce gravida massa id neque vestibulum, ut ornare justo finibus. 
            Vivamus lobortis eros non sem placerat rhoncus. 
        </p>
    </div>
    <div class="col-sm-12 col-md-6">
        <iframe src="https://open.spotify.com/embed-podcast/show/3m9ycjUwMbuDVIxpw4tojb" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>


<div class="row" *ngFor="let post of posts">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a [routerLink]="['posts', post.Slug]"><h5 class="card-title">{{post.Title}}</h5></a>
                <p class="card-text">By [user] on {{post.DateCreated | date: "short"}}</p>
            </div>
        </div>
    </div>
</div>